body {
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 5px;
  background-color: #222;
}

.container h2 {
  text-align: center;
  color: white;
}

.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222;
}

.container input[type="text"],
.container input[type="password"] {
  width: 250px;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #222;
  color: white;
}

.container input[type="submit"] {
  width: 250px;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.container input[type="submit"]:hover {
  background-color: #555;
}

.container a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 10px;
}

.container a:hover {
  text-decoration: underline;
}